<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="ApplicationErrorLog\PyarisError.log" />
			<appendToFile value="true" />
			<maximumFileSize value="5000KB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>

	<appSettings>
		<add key="Connection" value="server=apps-dev;database=NODEPOINT;user=pyaris;pwd=Pyaris@123;multipleactiveresultsets=true;"/>
		<add key="Connection2" value="server=apps-dev;database=NODEPOINT;user=pyaris;pwd=Pyaris@123;multipleactiveresultsets=true;"/>
		<add key="PaymentGatewayURL" value="https://apps-dev:9001/"/>
		<add key="PaymentGateway" value="PhonePe"/>
		<add key="minimumOrderAmt" value="400"/>
		<add key="isPaybackAvailable" value="true"/>
		<add key="unavailableOutlets" value="23-BALESWAR-STATION ROAD|24-JAJPUR-SURYANSH|28-BAM-GANDHI NAGAR|BALESWAR-STATION ROAD|JAJPUR-SURYANSH|BAM-GANDHI NAGAR"/>
		<add key="unavailablePincodes" value="760001|760002|760004|760005|760008|760009|760010|755018|754029|755044|755019|755001|756001|756002|756019|756025|756056"/>
		<add key="SMSUrl" value="http://s2.smart5sms.in/api/mt/SendSMS?user=pyarisapi&amp;password=Api@1234&amp;senderid=JAMBAK&amp;channel=Trans&amp;DCS=0&amp;flashsms=0&amp;route=15&amp;DLTTemplateID=1407169933512978051&amp;PEID=1401574580000063730&amp;number="/>
		<add key="SelectedGroup" value=""/>
		<add key="SelectedSubGroup" value=""/>
		<add key="PhonepeCallbackUrl" value="https://apps-dev:9001/VerifyChecksum.aspx"/>
		<add key="PhonepeMerchantId" value="PGTESTPAYUAT"/>
		<add key="PhonepeSaltKey" value="099eb0cd-02cf-4e2a-8aca-3e6c6aff0399"/>
		<add key="PhonepeSaltIndex" value="1"/>
		<add key="PhonepeBaseUrl" value="https://api-preprod.phonepe.com/apis/merchant-simulator"/>
		<add key="PhonepePayEndPoint" value="/pg/v1/pay"/>
		<add key="PhonepeRefundEndPoint" value="/pg/v1/refund"/>
		<add key="PhonepeStatusEndPoint" value="/pg/v1/status/{merchantId}/{merchantTransactionId}"/>
		<add key="CCAvenue_redirecturl" value="https://apps-dev:9001/VerifyChecksum.aspx"/>
		<add key="CCAvenue_cancelurl" value="https://apps-dev:9001/sparkfail.aspx"/>
		<add key="CCAvenue_merchantid" value="167513"/>
		<add key="CCAvenue_currency" value="INR"/>
		<add key="CCAvenue_language" value="EN"/>
		<add key="CCAvenue_billingcountry" value="India"/>
		<add key="CCAvenue_workingKey" value="486B935EF27AF33FB324D0BB498F0939"/>
		<add key="CCAvenue_access" value="AVRI84GD82BU46IRUB"/>
		<add key="Admin_PhoneNumber" value="9600128965"/>
		<add key="Customercare_Emailid" value="arunkumar.mohan@digitalsoftwareinc.in"/>
		<add key="Admin_SecondaryPhoneNumber" value="9600128965"/>
		<add key="Email_Environment" value="DEV:"/>
		<add key="EmailServer_UserName" value="info@parisbakery.in"/>
		<add key="EmailServer_Password" value="Yuw22334"/>
		<add key="Display_Image_Max" value="3" />
		<add key="ImagePath" value="images/productimages/" />
		<add key="SMS_Url" value="http://s2.smart5sms.in/api/mt/SendSMS/"/>
		<add key="SMS_UserName" value="pyarisapi"/>
		<add key="SMS_Password" value="Api@1234"/>
		<add key="SMS_Senderid" value="JAMBAK"/>
		<add key="SMS_Channel" value="Trans"/>
		<add key="SMS_DSC" value="0"/>
		<add key="flashsms" value="0"/>
		<add key="SMS_route" value="15"/>
		<add key="SMS_PEID" value="1401574580000063730"/>
		<add key="SMS_Template_NewOrder" value="1407169933512978051"/>
		<add key="SMS_Template_Order_Placing" value="1407169960945359295"/>
		<add key="SMS_Template_Web_Order_Update" value="1407169960870203512"/>
		<add key="SMS_Template_Order_Update" value="1407169960785044524"/>
		<add key="ParisApiUrl" value="https://apps-dev:7887/POS/GenerateOutletBill" />
		<add key="ParisDistanceApiUrl" value="https://apps-dev:7887/POS/GetDistance"/>
		<add key="ParisApiKey" value="kWHAeXSz35nTGYZQ" />
	</appSettings>
  <system.web>
	  
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <identity impersonate="false" />
    <machineKey decryption="AES" decryptionKey="7EC24C7CD5FC74FB00CD11618C14B7AA60FE6760E6FFFF0CE394FB6CC4ADDCF4" validation="HMACSHA256" validationKey="A0966B9C7CB9D85E90175C22EC83CE2FAFF7A688E28D5BB3AC5F6B59DBCBE3A855AFF808AC9BFAF3834E73D1768965C6DD41C64316FEB70ABA57663F0CAB5201" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/404.aspx" />
      <remove statusCode="500" />
      <error statusCode="500" responseMode="ExecuteURL" path="/500.aspx" />
    </httpErrors>
  </system.webServer>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache httpExpires="Thu, 31 Dec 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="myCon" connectionString="server=192.168.0.230;database=NODEPOINT;user=pyaris;pwd=Pyaris@123;multipleactiveresultsets=true;" />
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
    <httpRedirect enabled="false" destination="http://localhost/Default.aspx" exactDestination="false" />
    <rewrite>
      <rules>
        <!-- <rule name="HTTP to HTTPS redirect" enabled="true" patternSyntax="ECMAScript" stopProcessing="true"> -->
        <!-- <match url="(.*)$" ignoreCase="false" /> -->
        <!-- <conditions> -->
        <!-- <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" /> -->
        <!-- <add input="{HTTPS}" pattern="^OFF$" /> -->
        <!-- <add input="{HTTP_HOST}" pattern="localhost" negate="true" /> -->
        <!-- </conditions> -->
        <!-- <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" /> -->
        <!-- </rule> -->
        <!-- <rule name="apps rewrite1" enabled="false" stopProcessing="true"> -->
        <!-- <match url="(.*)$" /> -->
        <!-- <conditions> -->
        <!-- <add input="{HTTP_HOST}" pattern="^apps.digitalsoftwareinc.in$" /> -->
        <!-- </conditions> -->
        <!-- <action type="Rewrite" url="https://192.168.1.231/{R:0}" appendQueryString="false" /> -->
        <!-- </rule> -->
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>